@charset "UTF-8";

body {
    background-color: rgb(247, 218, 175);
    margin: 0;
}
h1 {
    color: rgb(255, 255, 255);
}
h2 {
    color: rgb(255, 255, 255);
}
p {
    color: rgb(63, 63, 63);
}

*{
    box-sizing: border-box;
}

.topo {
    background-color: rgb(167, 132, 99);
    padding: 20px;
    text-align: center;
}

.menu {
    background-color: #f5ab50ef;
    overflow: hidden;
}
.menu a{
    color: white;
    padding: 14px 16px;
    float: left;
    display: block;
    text-decoration: none;

}
